VERİ TEMİZLEME

In [48]:
import pandas as pd

In [49]:
veri = pd.DataFrame({
    "a": ["bir", "iki", "üç"] * 3,        # 9 eleman
    "b": [1, 1, 2, 3, 2, 3, 1, 2, 3]     # 9 eleman
})

In [50]:
veri.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
dtype: bool

In [51]:
veri.drop_duplicates()

     a  b
0  bir  1
1  iki  1
2   üç  2
3  bir  3
4  iki  2
5   üç  3

In [52]:
veri

     a  b
0  bir  1
1  iki  1
2   üç  2
3  bir  3
4  iki  2
5   üç  3
6  bir  1
7  iki  2
8   üç  3

In [53]:

veri["c"] = range(9)

In [54]:
veri

     a  b  c
0  bir  1  0
1  iki  1  1
2   üç  2  2
3  bir  3  3
4  iki  2  4
5   üç  3  5
6  bir  1  6
7  iki  2  7
8   üç  3  8

In [55]:
veri.duplicated(["a"])

0    False
1    False
2    False
3     True
4     True
5     True
6     True
7     True
8     True
dtype: bool

In [56]:
veri.duplicated(["b"])

0    False
1     True
2    False
3    False
4     True
5     True
6     True
7     True
8     True
dtype: bool

In [57]:
veri.duplicated(["c"])

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [58]:
veri.duplicated(["b","a"])

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
dtype: bool

In [59]:
veri.duplicated(["b"],keep="last")

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
dtype: bool

In [60]:
vs = pd.DataFrame({"isimler":["Ali","Ayşe","Veli","Fatma","Gül"],
                   "notlar":[60,70,90,80,75]})

In [61]:
vs.index.name="öğrenciler"

In [62]:
vs

           isimler  notlar
öğrenciler
0              Ali      60
1             Ayşe      70
2             Veli      90
3            Fatma      80
4              Gül      75

MAPPING

map metodu ya bir fonksiyon ya da bir sözlük yapısı kabul eder

In [67]:
sinif={"Ali":"A","Ayşe":"B","Veli":"B","Fatma":"A","Gül":"C"}

In [68]:
ad = vs["isimler"].str.capitalize()

In [69]:
vs["sube"]=ad.map(sinif)

In [70]:
vs

           isimler  notlar sube
öğrenciler
0              Ali      60    A
1             Ayşe      70    B
2             Veli      90    B
3            Fatma      80    A
4              Gül      75    C